[buildout]
extends = https://dist.plone.org/release/5.2.15/versions.cfg
parts = instance
versions = versions
develop = custom/nidan.lims

[versions]
senaite.core = 2.6.0
senaite.lims = 2.6.0

[instance]
recipe = plone.recipe.zope2instance
user = admin:change-me
http-address = 8080
eggs =
    senaite.lims
    nidan.lims
