[buildout]
extends = https://dist.plone.org/release/5.2.14/versions.cfg
          https://dist.plone.org/release/5.2.14/versions.cfg
parts = instance
versions = versions

[versions]
# NIDAN/SENAITE dependency pins will be finalized during deployment validation.
senaite.core = 2.7.0
senaite.lims = 2.7.0

[instance]
recipe = plone.recipe.zope2instance
user = admin:change-me
http-address = 8080
# Add eggs/products and database configuration after the SENAITE dependency graph is validated.
